body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

#main {
    background-image: url('https://media.istockphoto.com/photos/different-tipes-of-pizza-picture-id1297246932?b=1&k=20&m=1297246932&s=170667a&w=0&h=dk_4yOLKIGZzjCtWwT0pg2Xy8QCEoV9PHNPXCgvbCdQ=');
    background-position: center;
    background-size: cover;

}

section {
    height: 100%;
    width: 100%;
    text-align: center;
}



#head {
    position: absolute;
    top: 30%;
    left: 37%;
    color: white;
    font-size: 90px;
    font-family: 'Rowdies', cursive;


}

ul {
    position: fixed;
    text-align: left !important;
    display: inline-flex;
    list-style-type: none;
}

li {
    padding: 1px;
    margin: 5px;
    font-size: 25px;
    border: #EABC01 2px solid;
    background-color: yellow;
}

a {

    text-decoration-line: none;
    color: red;
}

#abtus {
    color: black;
    font-size: 50px;
    font-family: 'Rowdies', cursive;
    margin-bottom: 10px;
}
